/**
 * Custom stack template stuff
 * 
 * Author:  Anshul Kharbanda
 * Created: [Creation Date]
 */
* {
    font-family: 'Segoe UI', 
        Tahoma, Geneva, 
        Verdana, sans-serif;
}

#app-root {
    text-align: center;
}

#canvas {
    border: 1px solid #ccc;
    max-width: 1280px;
    width: 100%;
}